//----------  card-action
//------------------------------------------------------------------------------
@import 'src/assets/scss/config/variables';

.cards-action {
	width: 100%;
	padding: 10px;
	max-width: 1137px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: $purple;
	position: fixed;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	text-align: center;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: $duration $easing;
	transition-property: box-shadow, transform;
	transform: translate(0, 100%);
}
.cards-action--show {
	transform: translate(0, 0);
	box-shadow: 0 0 5px 1px $border;
}
.cards-action__button {
	width: 30px;
	height: 30px;
	margin: 0 5px;
	font-size: 18px;
	line-height: 30px;
	color: $white;
}